.section{
}

.containerImages{
    display: flex;
    overflow-x: scroll;
}


.header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: var(--default-padding);
}

.todos{
    font-weight: var(--bold);
    font-size: 20px;
    text-decoration-line: underline;
    cursor: pointer;
    color: #FBB900;


}

.title{
    font-weight:var(--bold);
    color:var(--black);
}

.img{
    width:243;
    height:243;
}
